html {
    height: 100%;
  }
  body {
     background-color:#FAFAFA;
     width: 800px;
     height: 100%;
  }
  header {
      background-color: #0457A6;
      text-align:  center;
      font-family: Segoe UI;
      font-size: 32px;
      display: block;
      border: 1px solid white;
      width: 800px;
  }
  .mainImage2 {
      width: 800px;
      padding: 0px;
      border: 1px solid white;
  }
  nav {
     background-color: ; 
     border: ;
     padding: 0px;
     float: left;
     width: 100%;
  }
  nav ul {
      padding: 0px;
      float: left;
      border-bottom: ;
      list-style-type: none;
  }
  nav li {
      float: left;
  }
  nav li a {
      display: block;
      height: 25px;
      padding: 12px 18px 8px 18px;
  }
  a {
      color: ;
  }
  section {
      width: 73%;
      display: inline-block;
      float: left;
  }

  h2 {
      font-size: 28px;
      font-family: Segoe UI;
  }
  h3 {
      font-size: 20px;
      font-family: Segoe UI;
  }
  p {
     font-family: Segoe UI; 
  }
  .seattleImage {
      border: 1px solid black;
  }
  .bellevueImage {
      border: 1px solid black;
  }
  aside {
      width: 17%;
      display: inline-block;
      background-color:;
      padding:;
      min-height: 100%;
  }
  aside ul {
      list-style-type: none;
  }
  footer {
      width: 100%;
      background-color:;
      font-family: 'Segoe UI';
      font-style: italic;
      font-size: 12px;
      color:#0457A6;
      clear: both;
      display: block;
  }